@use 'variables';

.featured-products{
    background: variables.$color-background;
    color: variables.$color-background;
    padding: 40px;

    &__title{
        text-align: center;
        color: variables.$color-dark;
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &__text{
        font-size: 18px;
        text-align: center;
        color: variables.$color-dark;
        font-weight: 400;
    }
}

// slider
.slider-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;

    .product{
        height: 430px;
        position: relative; /* posible cambio */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background: variables.$color-background;
        border-radius: 3px;
        box-shadow: 2px 7px 10px rgba($color: #000000, $alpha: .5);
        overflow: hidden;
        z-index: 10;

        &__circle-top{
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 150px;
            left: -60%;
            top: 0;
            background: variables.$color-dark;
            z-index: -1;

            &::before{
                content: '';
                position: absolute;
                width: 200px;
                height: 200px;
                border-radius: 150px;
                left: 150%;
                bottom: 50px;
                background: variables.$color-dark;
            }

            &::after{
                content: '';
                position: absolute;
                top: -80%;
                left: 45%;
                width: 300px;
                height: 300px;
                border: 5px solid variables.$color-background;
                border-radius: 100%;
                background: linear-gradient(45deg, variables.$color-primary 5%, variables.$color-secondary 80%);
                z-index: 1;
            }
        }

        &__circle-bottom{
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 150px;
            left: -50%;
            bottom: -30%;
            background: variables.$color-dark;
            z-index: -1;

            &::before{
                content: '';
                position: absolute;
                width: 200px;
                height: 200px;
                border-radius: 150px;
                left: 150%;
                bottom: 20%;
                background: variables.$color-dark;
            }

            &::after{
                content: '';
                position: absolute;
                bottom: -65%;
                left: 60%;
                width: 300px;
                height: 300px;
                border: 5px solid variables.$color-background;
                border-radius: 100%;
                background: linear-gradient(45deg, variables.$color-primary 5%, variables.$color-secondary 80%);
                z-index: 1;
            }
        }

        &__category{
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: variables.$color-background;
        }

        .thumb{
            margin-top: 20px;
            text-align: center;
    
            &__picture{
                vertical-align: top;
                width: 150px;
                height: 150px;
                border-radius: 150px;
                border: 3px solid variables.$color-secondary;
            }

            &__title{
                font-size: 22px;
                font-weight: 500;
                margin-top: 10px;
                color: variables.$color-secondary;
            }

            &__brand{
                font-size: 16px;
                margin-top: 5px;
                font-weight: 400;
                color: variables.$color-dark;
            }
        }

        .specs-lists-container{
            margin-top: 25px;
            width: 80%;
            display: flex;
            justify-content: space-between;

            .spec-list{
                list-style: none;

                &__item{
                    color: variables.$color-dark;
                    font-weight: 400;
                }
            }
        }
    }

   
}